[submodule "SethCS"]
	path = SethCS
	url = https://github.com/xforever1313/sethcs.git
[submodule "src/ActivityStreams"]
	path = src/ActivityStreams
	url = https://github.com/xforever1313/ActivityStreams.git
