@{
    ViewData["Title"] = "Third-Party Credtis";
    ViewData["Description"] = "ActivityPub Inbox Service's Third-Party Credits";
    ViewData["keywords"] = "activity,credits,dotnet,foss,open,source";
}

@model HomeModel

@{
    string html = MarkdownToHtmlConverter.Convert( Model.Resources.GetCredits() );
}

<div class="content">
    @Html.Raw( html )
</div>
