@{
    ViewData["Title"] = "About ClockBot ActivityPub Service";
    ViewData["Description"] = "ClockBot ActivityPub Service";
    ViewData["keywords"] = "activity,bot,clock,dotnet,inbox,pub,service";
}

@model HomeModel;

<h1>ClockBot ActivityPub Service</h1>

<p>
    You reached the about page for the ActivityPub service that runs the ClockBot service.
</p>
<p>
    This service is mainly used by ActivityPub servers to get the bot's latest updates.  If you
    want to follow a bot, go to your favorite ActivityPub service (such as Mastodon) and search for
    the webfinger that matches the bot you want to follow, which are listed
    <a href="https://activitypub.shendrick.net/bots/clockbots/" target="_blank" rel="noopener noreferrer nofollow">here.</a>
</p>
<p>
    In the meantime, here is some information about this bot:
</p>

<ul>
    <li>
        <strong>Source Code: </strong>
        <a href="https://github.com/xforever1313/HVCCClockTowerBot" target="_blank" rel="noopener noreferrer nofollow">
            https://github.com/xforever1313/HVCCClockTowerBot
        </a>
    </li>
    <li>
        <strong>Software License: </strong>
        <a href="/Home/License/">AGPL-3.0</a>
    </li>
    <li>
        <a href="/Home/Credits/">View service's third-party credits</a>
    </li>
    <li>
        <a href="https://activitypub.shendrick.net/about/credits.html" target="_blank" rel="noopener noreferrer nofollow">
            View static websites's third-party credits
        </a>
    </li>
    <li>
        <a href="https://activitypub.shendrick.net/about/privacy.html" target="_blank" rel="noopener noreferrer nofollow">
            View Privacy Policy
        </a>
    </li>
    <li>
        <strong>Version: </strong>@Model.BotVersion
    </li>
    <li>
        <strong>Inbox Service Version: </strong>@Model.InboxServiceVersion
    </li>
</ul>
